<!DOCTYPE html>
<html>
<head>
    <title>Gastronomía en Valencia</title>
    <link href='https://fonts.googleapis.com/css?family=Quicksand' rel='stylesheet'>
    <link href='https://fonts.googleapis.com/css?family=Raleway' rel='stylesheet'>
    <link rel="stylesheet" href="../static/css/estilos.css">
    <link rel="stylesheet" href="../static/css/estilo_encabezado.css">
    <link rel="stylesheet" href="../static/css/footer.css">
    
    
    <style>
      main {
      max-width: 800px;
      margin: 0 auto;
      padding: 20px;
      background-image: url(../static/IMÁGENES/fondo2.jpg);
      background-size: cover;
      background-repeat: no-repeat;
      }
    </style>
    
</head>

<body>
  <div id="navegar">
    <header id="encabezado">
        <h3 id="titulo">Descubre Valencia</h3>
        <img id="icono" src="../static/IMÁGENES/Logo valencia.jpg">
    </header>
  </div>

  <nav id="botones">
    <a href="descubre valencia.html"><button class="botinicio">Inicio</button></a>
    <a href="GASTRONOMÍA.html"><button class="botinicio">Gastronomía</button></a>
    <a href="Turismo.html"><button class="botinicio">Turismo</button></a>
    <a href="Ocio.html"><button class="botinicio">Ocio nocturno</button></a>
    <a href="formulario.html"><button class="botinicio">Tu visita</button></a>
  </nav>

  <div id="cuerpogastro">

    <div id="titulogastro">
      <h1>Gastronomía en Valencia</h1>
        <nav id="navegastro">
          <ul>
            <li><a href="#introduccion">Introducción</a></li>
            <li><a href="#platos-tipicos">Platos típicos</a></li>
            <li><a href="#restaurantes">Restaurantes recomendados</a></li>
          </ul>
        </nav>
    </div>

    <main>
      <section id="introduccion">
        <h2>Bienvenidos a Valencia</h2>
        <p>Valencia es una ciudad con una rica tradición gastronómica y una amplia variedad de platos típicos y restaurantes para elegir. En esta página encontrarás información sobre algunos de los platos y restaurantes más populares de Valencia.</p><br>
        <p>La gastronomía valenciana se caracteriza por la utilización de productos frescos y de alta calidad, como el arroz, el pescado, las verduras y las hortalizas. Algunos de los platos más destacados de la región son la paella valenciana, la horchata y el agua de Valencia, que podrás degustar en los numerosos restaurantes y bares de la ciudad.</p><br>
        <p>>Además, en Valencia podrás encontrar una amplia variedad de restaurantes que ofrecen platos de diferentes estilos y cocinas, como la mediterránea, la internacional, la vegetariana o la vegana.</p>
        <br>
        <p class="opciones"><b>¡HAY OPCIONES PARA TODOS LOS GUSTOS!</b></p>
        <br>
        <br> 
      </section>

      <section id="platos-tipicos">
          <h2>Platos típicos de Valencia</h2>

          <article>
            <h3>Paella valenciana</h3>
            <img id="bordeim" src="../static/IMÁGENES/paella.jpg" alt="Foto de una paella valenciana" class="plato-imagen">
            <p>La paella valenciana es un plato típico de Valencia que se prepara con arroz, verduras y carne o pescado. Es uno de los platos más conocidos de la comunidad valenciana y se suele servir en ocasiones especiales o para grupos grandes de personas.</p>
          </article>

          <article>
            <h3>Horchata</h3>
            <img  id="bordeim" src="../static/IMÁGENES/horchata.jpg" alt="Foto de una jarra de horchata" class="plato-imagen">
            <p>La horchata es una bebida típica de Valencia que se elabora a partir de chufa, un tipo de tubérculo. Es una bebida muy refrescante y se suele servir fría, a menudo acompañada de fartons, un tipo de bollo dulce típico de la zona.</p>
          </article>

          <article>
            <h3>Agua de Valencia</h3>
            <img id="bordeim" src="../static/IMÁGENES/agua-de-valencia.jpg" alt="Foto de una copa de agua de Valencia" class="plato-imagen">
            <p>El agua de Valencia es un cóctel típico de Valencia que se prepara con vodka, ginebra, Cointreau y zumo de naranja. Es una bebida muy popular en fiestas y eventos y se suele servir en copas grandes.</p>
          </article>
      </section>
      
      <section id="restaurantes">
          <h2>Restaurantes recomendados</h2>

          <article>
            <h3>Restaurante La Sucursal</h3>
            <a href="https://veleseventsvalencia.es/restaurante/restaurante-la-sucursal/" target="_blank"><img id="bordeim" src="../static/IMÁGENES/lasucursal.jpg" alt="Foto del Restaurante La Sucursal" class="restaurante"></a>
            <p>El Restaurante La Sucursal es uno de los restaurantes más populares de Valencia. Ofrecen una amplia variedad de platos típicos de la región y un ambiente agradable y acogedor.</p>
          </article>

          <article>
            <h3>Restaurante Casa Roberto</h3>
            <a href="http://casaroberto.es/" target="_blank"><img id="bordeim" src="../static/IMÁGENES/casaroberto.jpg" alt="Foto del Restaurante Casa Roberto" class="restaurante"></a>
            <p>El Restaurante Casa Roberto es un restaurante con una larga historia y una gran reputación en Valencia. Ofrecen una cocina tradicional valenciana de alta calidad y un ambiente elegante y refinado.</p>
          </article>
          
          <article>
            <h3>Restaurante El Raco del Turia</h3>
            <a href="https://racodelturia.com/" target="_blank"><img id="bordeim" src="../static/IMÁGENES/elracodelturia.jpg" alt="Foto del Restaurante El Raco del Turia" class="restaurante"></a>
            <p>El restaurante Raco del Turia es uno de los más destacados de Valencia y se encuentra situado en el barrio del Carmen. Ofrece una cocina mediterránea de alta calidad a base de productos frescos y locales. Su menú cambia cada temporada para aprovechar los mejores ingredientes del momento.</p>
          </article>
      </section>

    </main> 

  </div>
</body>

<footer>
  <div style="text-align: left; float: left;">
      <p>Tambien puede llamarnos al : xxx xxx xxx</p>
      <p>o enviarnos un email especifico a: <a href="mailto:descubrevalencia@gmail.com">descubrevalencia@gmail.com</a></p>
  </div>
  <div style="text-align: center; float: right;">
      <p>Copyright ©2023 Descubre Valencia</p>
      <a class="iniciofooter" href="descubre valencia.html">Inicio</a>
      
  </div>
  <a href="https://www.instagram.com/descubre_valencia_tw/"><img  src="../static/IMÁGENES/Instagram.jpg" style="width:50px; height:50px; pointer-events: none;"></a>
</footer>

<script src="../static/java/script.js"></script>
</html>
