<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Ocio</title>
        <link href="https://fonts.googleapis.com/css?family=Tangerine" rel="stylesheet">
        <link href='https://fonts.googleapis.com/css?family=Quicksand' rel='stylesheet'>
        <link href='https://fonts.googleapis.com/css?family=Raleway' rel='stylesheet'>
        <link rel="stylesheet" href="../static/css/estilo_encabezado.css">
        <link rel="stylesheet" href="../static/css/footer.css">
        <style>
        #cuerpo{
           text-align: center;
           padding: auto;
           margin-top: 100px;
           font-family: 'Quicksand', serif;

        }
        #tabla{  
           width: 50%;
          
           
        }

        #tabla-ocio{
            width: 1500px;
            height: 400px;
            padding: 75px;
            text-align: center;
            margin: 0 auto;

        }

        
        #fondot{
            background-color: rgba(179, 129, 240, 0.20);
        }

        #textointr{
            border: solid 1px rgb(81, 15, 117);
        }
       
    
      
        </style>
    </head>
    <body id="fondot">
        <div id="navegar">
            <header id="encabezado">
                <h3 id="titulo">Descubre Valencia</h3>
                <img id="icono" src="../static/IMÁGENES/Logo valencia.jpg">
            </header>
        </div>
    
        <nav id="botones">
            <a href="descubre valencia.html"><button class="botinicio">Inicio</button></a>
            <a href="GASTRONOMÍA.html"><button class="botinicio">Gastronomía</button></a>
            <a href="Turismo.html"><button class="botinicio">Turismo</button></a>
            <a href="Ocio.html"><button class="botinicio">Ocio nocturno</button></a>
            <a href="formulario.html"><button class="botinicio">Tu visita</button></a>
        </nav>
        <div id="cuerpo">
        <div id="introduccion">
        
        <h1 id="fondo"><b>OCIO NOCTURNO EN VALENCIA</b></h1><br>
       
        <div id="textointr">
        <p>Valencia no solo es una ciudad increíble para hacer turismo, también es una ciudad con una variedad enorme para poder salir a tomar una copa o acabar bailando hasta que salga el sol.</p>
        <p>Hay varias zonas para poder salir de copas o simplemente estar en un bar echando una partida ya sea al futbolín, dardos, billar y etc...</p>
        <p>a continuación os dejaremos varias posibilidades para salir a tomar algo o de fiesta, según el gusto de cada uno:</p>
        </div>
        </div>
        
        <div id="categorias">
            <div id="tabla" class="tabla">
                <table class="tabla" id="tabla-ocio" size="100" text-align="center">
                <colgroup span="3" style="background: rgba(255, 255, 255, 0.7);">
            <div id="navegacion">
                <tr id="seccion1" style="position: relative;" onmouseover="ver(1)" onmouseout="ocultar(1)">
                   <td><b>Bares para tomar algo</b>
                       <div id="subseccion1" style="display: none">
                       <p>En Valencia hay muchas zonas para poder tomar algo y poder echar un futbolín o unos dardos, aquí os dejamos algunos bares para tomar algo, con los enlaces para acceder a ellos y informarte un poquito mejor si se adaptan a tu gusto o ubicación:</p><br>
                       
                      <a href="https://www.google.com/maps/place/Underground+Caf%C3%A9+Pub/@39.4717582,-0.3498615,17z/data=!3m1!4b1!4m5!3m4!1s0xd604891c0ee1dd3:0xb85d0bb37d6b0c93!8m2!3d39.4717582!4d-0.3476728?hl=es"><img src="../static/IMÁGENES/underground.jpg" width="250" height="230" title="Underground" ></a> 
                      <a href="https://www.lafabricadehielo.net/"><img src="../static/IMÁGENES/lafabricadelhielo.jpg" width="250px" height="230px" vertical-align="text-bottom" text="La fabrica del hielo" title="La fábrica del hielo"></a> 
                      <a href="https://goo.gl/maps/z1BoUL77h9GdvnJ4A"><img src="../static/IMÁGENES/upsidedown.jpg" width="250px" height="230px" title="Upsidedown"></a>
                      <a href="https://www.vivirsindormir.com/"><img src="../static/IMÁGENES/vivirsindormir.jpg" width="250px" height="230px" title="Vivir sin dormir"></a> 
                       </div>
                   </td>
                </tr>
                <tr id="seccion2" style="position: relative;"onmouseover="ver(2)"onmouseout="ocultar(2)">
                    <td><b>Pubs</b>
                        <div id="subseccion2" style="display: none">
                        <p>Si tienes ganas de tomarte una copa y bailar, pero no quieres que se te haga muy tarde. Esta es la opción perfecta, puedes acceder pulsando sobre la imagen a la página del pub para informarte mejor:</p><br>

                        <a href="https://goo.gl/maps/NnDEeqFz9skSfM9X8"><img src="../static/IMÁGENES/flowclub.jpg" width="250px" height="230px" title="Flow club"></a>
                        <a href="http://xlxtralrge.com/"><img src="../static/IMÁGENES/xl.jpg" width="250px" height="230px" title="XL"></a>
                        <a href="https://vluearribar.com/"><img src="../static/IMÁGENES/arribar.jpg" width="250px" height="230px" title="Vlue arribar"></a>
                        <a href="https://goo.gl/maps/nwtKUjbXLonkF1yq8"><img src="../static/IMÁGENES/themuse.png" width="250px" height="230px" title="The muse"></a>
                        </div>
                    </td>
                </tr>
                <tr id="seccion3" style="position: relative;"onmouseover="ver(3)"onmouseout="ocultar(3)">
                    <td><b>Discotecas</b>
                        <div id="subseccion3" style="display: none">
                        <p>Si al tomarte unas copas en los pubs sigues con ganas de marchavo simplemente tienes ganas de prender fuego a la ciudad esta es la sección perfecta para ti, al pulsar sobre la imagen de la discoteca tienes los enlaces para comprar las entradas:</p><br>
                        <a href="http://umbracleterraza.com/mya/inicio/"><img src="../static/IMÁGENES/mya.jpg" width="250px" height="230px" title="Mya Valencia"></a>
                        <a href="https://www.fourvenues.com/es/rumbo144"><img src="../static/IMÁGENES/rumbo.jpg" width="250px" height="230px" title="Rumbo 144"></a>
                        <a href="http://akuarelaplaya.es/web/inicio/"><img src="../static/IMÁGENES/akuarela.jpg" width="250px" height="230px" title="Akuarela playa"></a>
                        <a href="https://xceed.me/es/valencia/club/oven-club-centro"><img src="../static/IMÁGENES/oven.jpg" width="250px" height="230px" title="Oven"></a>
                        </div>
                    </td>
                </tr>  
            </table>     
            </div>    
        </div>
        
        <div>
            <p><b>A continuación os dejaremos un mapa con mas lugares para poder tomar algo o salir de fiesta marcados:</b></p>
            <hr size="1px" color="black"/>
            <iframe id="mapa" src="https://www.google.com/maps/d/embed?mid=1xfUvVJCvavkzIqe9Q8-k3cOD7x2Ldoo&hl=es&ehbc=2E312F" width="1100" height="480"></iframe>
        </div>
        </div>
        <div id="pie">
            <footer>
                <div style="text-align: left; float: left;">
                    <p>Tambien puede llamarnos al : xxx xxx xxx</p>
                    <p>o enviarnos un email especifico a: <a href="mailto:descubrevalencia@gmail.com">descubrevalencia@gmail.com</a></p>
                </div>
                <div style="text-align: center; float: right;">
                    <p>Copyright ©2023 Descubre Valencia</p>
                    <a class="iniciofooter" href="descubre valencia.html">Inicio</a>
                    
                </div>
                <a href="https://www.instagram.com/descubre_valencia_tw/"><img  src="../static/IMÁGENES/Instagram.jpg" style="width:50px; height:50px;"></a>
            </footer>
        </div>
        
        <script src="menu.js"></script>
        <script type="text/javascript">
            function ver(n) {
            const aimDiv = document.getElementById("subseccion"+ n);
            aimDiv.style.display = "block";
            }
            function ocultar(n) {
                const aimDiv = document.getElementById("subseccion"+ n);
                aimDiv.style.display = "none";
            }
        </script>
        
        
    </body>
</html>

