<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>Apartado Turismo</title>
    <link href='https://fonts.googleapis.com/css?family=Quicksand' rel='stylesheet'>
    <link href='https://fonts.googleapis.com/css?family=Raleway' rel='stylesheet'>
    <link rel="stylesheet" href="../static/css/Turismo.css">
    <link rel="stylesheet" href="../static/css/estilo_encabezado.css">
    <link rel="stylesheet" href="../static/css/footer.css">
</head>

<body id="fondo">
    <div id="navegar">
        <header id="encabezado">
            <h3 id="titulo">Descubre Valencia</h3>
            <img id="icono" src="../static/IMÁGENES/Logo valencia.jpg">
        </header>
    </div>

    <nav id="botones">
        <a href="descubre valencia.html"><button class="botinicio">Inicio</button></a>
        <a href="GASTRONOMÍA.html"><button class="botinicio">Gastronomía</button></a>
        <a href="Turismo.html"><button class="botinicio">Turismo</button></a>
        <a href="Ocio.html"><button class="botinicio">Ocio nocturno</button></a>
        <a href="formulario.html"><button class="botinicio">Tu visita</button></a>
    </nav>
        
    <div class="titulo">
        <h1>Los lugares que no te puedes perder al visitar Valencia</h1>
    </div>
    
    <div class="subtitulo">
        <h2>Top de los mejores lugares</h2>
        <p>Aquí te presentamos una amplia lista de los lugares más emblemáticos y preciosos de toda valencia, tanto a nivel cultural como artístico.</p>
    </div>

    <section>
        <div class="izq">
            <img src="../static/IMÁGENES/turismo1.jpg" alt="Ciudad de las Artes y las Ciencias" width="400px" height="250px">
            <h2>Ciudad de las Artes y las Ciencias</h2>
            <p>Un conjunto único dedicado a la divulgación científica y cultural, que está integrado por seis grandes elementos: el Hemisfèric, el Umbracle, el Museu de les Ciències, el Oceanogràfic, el Palau de les Arts Reina Sofía y el Ágora.</p>
            <a href="https://www.cac.es/es/home.html"><button id="boton">Ver más</button></a>
        </div>

        <div class="der">
            <img src="../static/IMÁGENES/turismo2.jpeg" alt="L'Albufera de Valencia" width="400px" height="250px">
            <h2>L'Albufera de Valencia</h2>
            <p>La Albufera de Valencia es un Parque Natural situado a tan solo 15 km de la ciudad de Valencia. Un lugar sin igual lleno de vida en todos sus sentidos. Descubre todo lo que esconde este increíble paraje.</p>
            <a href="https://www.visitvalencia.com/que-ver-valencia/albufera-valencia"><button id="boton">Ver más</button></a>
        </div>
        
        <div class="izq">
            <img src="../static/IMÁGENES/turismo3.jpg" alt="Oceanográfico" width="400px" height="250px">
            <h2>Oceanográfico</h2>
            <p>El Oceanogràfic de la Ciutat de les Arts i les Ciències es el mayor acuario de Europa, y en él se representan los principales ecosistemas marinos del planeta.</p>
            <br>
            <a href="https://www.oceanografic.org/"><button id="boton">Ver más</button></a>
        </div>

        <div class="der">    
            <img src="../static/IMÁGENES/turismo4.jpg" alt="La Marina de Valencia" width="400px" height="250px">
            <h2>La Marina de Valencia</h2>
            <p>El complejo Marina Beach Club se alza con diferentes espacios conectados entre sí con los que pretende responder a las nuevas tendencias sociales y sacar el máximo partido a los momentos de ocio.</p>
            <a href="https://www.lamarinadevalencia.com/"><button id="boton">Ver más</button></a>
        </div>

        <div class="izq">
            <img src="../static/IMÁGENES/turismo5.jpg" alt="El Jardín Botánico" width="400px" height="250px">
            <h2>El Jardín Botánico</h2>
            <p>El Jardín Botánico cuenta con una importante colección botánica, con unas 3000 especies de árboles y plantas provenientes de los cinco continentes. En la colección destacan las palmeras y los árboles tropicales o el cactus y otras plantas del desierto.</p>
            <a href="https://www.jardibotanic.org/"><button id="boton">Ver más</button></a>
        </div>

        <div class="der">
            <img src="../static/IMÁGENES/turismo6.jpg" alt="El Bioparc" width="400px" height="250px">
            <h2>El Bioparc</h2>
            <p>Innovador parque zoológico en el que las barreras son prácticamente invisibles y los animales campan a sus anchas, tiene una extensión de 100,000 metros cuadrados y se encuentra ubicado en el parque de cabecera del antiguo cauce del río Turia.</p>
            <a href="https://www.bioparcvalencia.es/"><button id="boton">Ver más</button></a>
        </div>
    </section>
    
    <div id="pie">
        <footer>
            <div style="text-align: left; float: left;">
                <p>Tambien puede llamarnos al : xxx xxx xxx</p>
                <p>o enviarnos un email especifico a: <a href="mailto:descubrevalencia@gmail.com">descubrevalencia@gmail.com</a></p>
            </div>
            <div style="text-align: center; float: right;">
                <p>Copyright ©2023 Descubre Valencia</p>
                <a class="iniciofooter" href="descubre valencia.html">Inicio</a>
                
            </div>
            <a href="https://www.instagram.com/descubre_valencia_tw/"><img  src="../static/IMÁGENES/Instagram.jpg" style="width:50px; height:50px;"></a>
        </footer>
    </div>
</body>
    
</html>